# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin 
.target

# TeXlipse plugin
.texlipse

*.log
.project

# Build System Files
Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt
build
.build
debug
release
.sconsign.*
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
gen

# IDE Files
local.properties
.settings/
.loadpath

# Python
__pycache__
*.pyc

# Dependencies
deps/*
!deps/.mocca
python

# CLion
.idea
.iml

docs/doxygen/
docs/site

atlassian-ide-plugin.xml
