#include "{{include_path}}/{{class_name}}.h"

namespace glove {
	
{{class_name}}::{{class_name}}(){{#derive}} :
	{{#profilable}}EnableProfilable(){{#derive_from_glove_object}},
	{{/derive_from_glove_object}}{{/profilable}}{{#derive_from_glove_object}}GloveObject(){{/derive_from_glove_object}}{{/derive}} {

}

{{class_name}}::~{{class_name}}() {
	
}

} // namespace glove