#pragma once

{{#derive_from_glove_object}}
#include "core/GloveObject.h"
{{/derive_from_glove_object}}
{{#profilable}}
#include "memory/MemoryProfile.h"
{{/profilable}}

namespace glove {

class {{class_name}} : {{#derive_from_glove_object}}public GloveObject{{/derive_from_glove_object}} {
{{#profilable}}Profilable();{{/profilable}}
public:
	{{class_name}}();
	virtual ~{{class_name}}();
};


} // namespace glove

#endif