#include "tests/gtest/gtest.h"

#include "{{include_path}}/{{class_name}}.h"

namespace glove {

class {{class_name}}Test : public ::testing::Test {
protected:
	{{class_name}}Test() {

	}
}
	
} // namespace glove