#ifndef {{protection_define}}
#define {{protection_define}}

#include "{{class_header}}"

namespace glove {
namespace python {

void Export{{class_name}}();

} // namespace python
} // namespace glove

#endif